{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block account %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
{#        {{ form.as_p }}#}
        <div class="field"><label class="label" for="id_oldpassword">Текущий пароль:</label> <div class="control"> <input class="input" type="password" name="oldpassword" placeholder="Текущий пароль" required="" id="id_oldpassword"></div></div>
        <div class="field"><label class="label" for="id_password1">Новый пароль:</label> <div class="control"> <input class="input" type="password" name="password1" placeholder="Новый пароль" required="" id="id_password1"></div></div>
        <div class="field"><label class="label" for="id_password2">Новый пароль (ещё раз):</label> <div class="control"> <input class="input" type="password" name="password2" placeholder="Новый пароль (ещё раз)" required="" id="id_password2"></div></div>

        <button class="button is-primary" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
