{% extends "base.html" %}
{% load static %}
{% block head_title %}
Индекс
{% endblock %}

{% block extra_head %}
{% endblock %}

{% block body %}


{% block content %}

<h1>{{ project.title }}</h1>
<h2>{{ event.title }}</h2>

    <h3>Зарегистрированные на проект:</h3>
<table>
    <thead>
        <th>ФИО</th>
        <th>Присутствует</th>
    </thead>
    <tbody>
        {% for p in project_registrations %}
            <tr>
                <td>{{ p.last_name }} {{ p.first_name }} {{ p.second_name }}</td>
                <td><a href="{{ p.id }}">Отметить</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

        <h3>Зарегистрированные на мероприятие:</h3>
<table>
    <thead>
        <th>ФИО</th>
        <th>Присутствует</th>
    </thead>
    <tbody>
        {% for p in event_registrations %}
            <tr>
                <td>{{ p.last_name }} {{ p.first_name }} {{ p.second_name }}</td>
                <td><a href="{{ p.id }}">Отметить</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
{% endblock %}
{% block extra_body %}
{% endblock %}

