{% extends "base.html" %}
{% load custom_filters %}
{% block content %}
    <!-- Hero content: will be in the middle -->


    <section class="section">
        <div class="container">

            <h1 class="title">Диагностики</h1>
            <h2 class="subtitle">
                Набор уникальных профессиональных психодиагностических методик преднозначенных повысить эффективность
                вашего обучения
            </h2>

        </div>
    </section>
    {#    <div class="container">#}
    {#        <div class="columns">#}
    {#            {% for d in diagnostics %}#}
    {#                <div class="column">#}
    {#                    <div class="card">#}
    {#                        <div class="card-image">#}
    {#                        </div>#}
    {#                        <div class="card-content">#}
    {#                            <div class="media">#}
    {#                                <div class="media-content">#}
    {#                                    <p class="title is-6"> Диагностика {{ forloop.counter }}</p>#}
    {#                                    <p class="title is-4">{{ d.title }}</p>#}
    {#                                    <p class="subtitle is-6">{{ d.description }}</p>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="content">#}
    {#                                Дата старта:<br>#}
    {##}
    {#                                <time datetime="">{{ d.startdate }}</time>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <footer class="card-footer">#}
    {#                            <a href="/diagnostic/{{ d.id }}/" class="card-footer-item" disabled="disabled">Пройти диагностику</a>#}
    {#                        </footer>#}
    {#                    </div>#}
    {#                </div>#}
    {#            {% endfor %}#}
    {#            {% if diagnostics|length|divide:3 == 2 %}#}
    {#                <div class="column"></div>#}
    {#                <div class="column"></div>#}
    {#            {% elif diagnostics|length|divide:3 == 1 %}#}
    {#                <div class="column"></div>#}
    {#            {% endif %}#}
    {#        </div>#}
    {#    </div>#}

    <div class="container">
        <div class='carousel carousel-animated carousel-animate-slide' data-size="4">
            <div class='carousel-container'>
                {% for d in diagnostics %}
                    <div class='carousel-item'>
                        <div class="card">
                            <div class="card-image">
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="subtitle is-6"> Диагностика</p>
                                        <p class="subtitle is-5">{{ d.title }}</p>
                                        <p class="subtitle is-6">{{ d.description }}</p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p class="subtitle is-6">Дата старта:<br>
                                        <time datetime="">{{ d.startdate }}</time>
                                    </p>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="/diagnostic/{{ d.id }}/" class="card-footer-item" disabled="disabled">Пройти диагностику</a>
                            </footer>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="carousel-navigation is-centered">
                <div class="carousel-nav-left">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                <div class="carousel-nav-right">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>


    {% for c in courses %}

        {#     THEME     #}

        <div class="container">
            {% if themes|for_course_len:c  > 0 %}
                <section class="section">
                    <div class="container">

                        <h1 class="title">Ваша проектная проетная работа</h1>
                        <h2 class="subtitle">
                            Ваша тема по проектной работе:
                            {% for t in person_themes %}
                                {% if t.course == c %}
                                    {{ t }}
                                {% endif %}
                            {% endfor %}
                        </h2>
                        <button class="button is-primary" onclick="$('#modal_theme').addClass('is-active')">Изменить</button>
                    </div>
                </section>
            {% endif %}


            {#    PROJECTS #}
        {{ c.projects.all }}

            {% if c.projects %}
                {% if c.projects.count > 1 %}

                    <div class="columns is-hidden">
                        {% for project in person.c.projects.all %}
                            <div class="column">
                                {% include "project_inline.html" %}
                            </div>
                        {% endfor %}
                        {% if c.projects|length|divide:3 == 2 %}
                            <div class="column"></div>
                            <div class="column"></div>
                        {% elif c.projects|length|divide:3 == 1 %}
                            <div class="column"></div>
                        {% endif %}

                    </div>
                {% endif %}
            {% endif %}

            {#    EVENTS #}


            {% if c.projects %}
                {% if c.projects.count == 1 %}
                    {% for p in c.projects.all %}

                        <div class="timeline is-centered">
                            <header class="timeline-header">
                                <span class="tag is-medium is-primary">Start</span>
                            </header>
                            <div class="timeline-item is-primary">
                                <div class="timeline-marker is-primary"></div>
                                <div class="timeline-content">
                                    <p class="heading">January 2016</p>
                                    <p>Timeline content - Can include any HTML element</p>
                                </div>
                            </div>
                            <div class="timeline-item is-warning">
                                <div class="timeline-marker is-warning is-image is-32x32">
                                    <img src="http://bulma.io/images/placeholders/32x32.png">
                                </div>
                                <div class="timeline-content">
                                    <p class="heading">February 2016</p>
                                    <p>Timeline content - Can include any HTML element</p>
                                </div>
                            </div>
                            <header class="timeline-header">
                                <span class="tag is-primary">2017</span>
                            </header>
                            <div class="timeline-item is-danger">
                                <div class="timeline-marker is-danger is-icon">
                                    <i class="fa fa-flag"></i>
                                </div>
                                <div class="timeline-content">
                                    <p class="heading">March 2017</p>
                                    <p>Timeline content - Can include any HTML element</p>
                                </div>
                            </div>
                            <header class="timeline-header">
                                <span class="tag is-medium is-primary">End</span>
                            </header>
                        </div>

                        </div>

                        {% for e in p.events.all %}
                            {{ e }}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endif %}


        <div id="modal_theme" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Изменить выбранную тему</p>
                    <button class="delete" aria-label="close" onclick="$('#is-success').removeAttr('href');$('#modal_theme').removeClass('is-active')"></button>
                </header>
                <section class="modal-card-body">
                    {% for t in themes %}
                        <div class="field">
                            {% if person|have_theme:t %}
                                <input class="is-checkradio" id="theme_{{ t.id }}" type="radio" name="themes" checked><label for="theme_{{ t.id }}">{{ t }}</label>
                            {% else %}
                                <input class="is-checkradio" id="theme_{{ t.id }}" type="radio" name="themes" onclick="$('#is-success').attr('href', this.dataset.href)" data-href="/theme_choice/{{ t.id }}">
                                <label for="theme_{{ t.id }}">{{ t.theme }}</label>
                            {% endif %}
                        </div>
                    {% endfor %}
                </section>
                <footer class="modal-card-foot">
                    <a id="is-success" class="button is-success">Save changes</a>
                    <button class="button" onclick="$('#is-success').removeAttr('href');$('#modal_theme').removeClass('is-active')">Cancel</button>
                </footer>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block js %}
    var carousels = bulmaExtensions.bulmaCarousel.attach();
{% endblock %}
