{% extends "base.html" %}
{% load custom_filters %}
{% block content %}
    <!-- Hero content: will be in the middle -->


    <section class="section">
        <div class="container">


        </div>
    </section>
    {#    <div class="container">#}
    {#        <div class="columns">#}
    {#            {% for d in diagnostics %}#}
    {#                <div class="column">#}
    {#                    <div class="card">#}
    {#                        <div class="card-image">#}
    {#                        </div>#}
    {#                        <div class="card-content">#}
    {#                            <div class="media">#}
    {#                                <div class="media-content">#}
    {#                                    <p class="title is-6"> Диагностика {{ forloop.counter }}</p>#}
    {#                                    <p class="title is-4">{{ d.title }}</p>#}
    {#                                    <p class="subtitle is-6">{{ d.description }}</p>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                            <div class="content">#}
    {#                                Дата старта:<br>#}
    {##}
    {#                                <time datetime="">{{ d.startdate }}</time>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <footer class="card-footer">#}
    {#                            <a href="/diagnostic/{{ d.id }}/" class="card-footer-item" disabled="disabled">Пройти диагностику</a>#}
    {#                        </footer>#}
    {#                    </div>#}
    {#                </div>#}
    {#            {% endfor %}#}
    {#            {% if diagnostics|length|divide:3 == 2 %}#}
    {#                <div class="column"></div>#}
    {#                <div class="column"></div>#}
    {#            {% elif diagnostics|length|divide:3 == 1 %}#}
    {#                <div class="column"></div>#}
    {#            {% endif %}#}
    {#        </div>#}
    {#    </div>#}

    <div class="container is-hidden">
        <h1 class="title">Диагностики</h1>
        <h2 class="subtitle">
            Набор уникальных профессиональных психодиагностических методик предназначенных повысить эффективность
            вашего обучения
        </h2>
        <div class='carousel carousel-animated carousel-animate-slide' data-size="4">
            <div class='carousel-container'>
                {% for d in diagnostics %}
                    <div class='carousel-item'>
                        <div class="card">
                            <div class="card-image">
                            </div>
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="subtitle is-6"> Диагностика</p>
                                        <p class="subtitle is-5">{{ d.title }}</p>
                                        <p class="subtitle is-6">{{ d.description }}</p>
                                    </div>
                                </div>
                                <div class="content">
                                    <p class="subtitle is-6">Дата старта:<br>
                                        <time datetime="">{{ d.startdate }}</time>
                                    </p>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="/diagnostic/{{ d.id }}/" class="card-footer-item" disabled="disabled">Пройти диагностику</a>
                            </footer>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="carousel-navigation is-centered">
                <div class="carousel-nav-left">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>
                <div class="carousel-nav-right">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>


    {% for c in courses %}
        {% if c|enrolled:person %}

            <div class="container course">
                <h1 class="title">{{ c }}</h1>

                {#     THEME     #}
                {% if themes|for_course_len:c  > 0 %}
                    <section class="section">
                        <div class="container">

                            {% if person|theme_choiced:c %}

                                <h1 class="title">Ваша проектная работа</h1>
                                <h2 class="subtitle">
                                    Ваша тема по проектной работе:
                                    {% for t in themes|for_course:c %}
                                        {% if person|have_theme:t %}
                                            {{ t }}
                                        {% endif %}
                                    {% endfor %}
                                </h2>
                                {% for t in person_themes %}
                                    {% if t.course == c %}
                                        <button class="button is-primary" onclick="$('#modal_theme_{{ t.id }}').addClass('is-active')">Изменить</button>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <h1 class="title">Выберите тему проектной работы</h1>
                                <button class="button is-primary" onclick="$('#modal_theme_course_{{ c.id }}').addClass('is-active')">Выбрать</button>
                            {% endif %}
                        </div>
                    </section>
                {% endif %}


                {#    PROJECTS #}

                {% if c.projects.all %}
                    {% if c.projects.all.count > 1 %}
                        <div class="columns">
                            {% for project in c.projects.all %}
                                <div class="column">
                                    {% include "project_inline.html" %}
                                </div>
                            {% endfor %}
                            {% if c.projects.all|length|divide:3 == 2 %}
                                <div class="column"></div>
                                <div class="column"></div>
                            {% elif c.projects.all|length|divide:3 == 1 %}
                                <div class="column"></div>
                            {% endif %}

                        </div>
                    {% endif %}
                {% endif %}

                {#    EVENTS #}


                {% if c.projects %}
                    {% if c.projects.count == 1 %}
                        <h1 class="title">Тренинги</h1>
                        <h2 class="subtitle">Выберите свою персональную траекторию</h2>
                        {% for p in c.projects.all %}
                            <div class="timeline is-left">
                                <header class="timeline-header">
                                    <span class="tag is-medium is-primary">Начало</span>
                                </header>
                                <div class="timeline-item is-primary">
                                    <div class="timeline-marker is-primary"></div>
                                    {% for e in p.events.all|sort_by:"_startdate" %}
                                        {% ifchanged e.startdate %}
                                            </div>
                                            <div class="timeline-item is-primary">
                                            <div class="timeline-marker is-primary"></div>
                                        {% endifchanged %}
                                        <div class="timeline-content">
                                            <p class="heading">{{ e.startdate }}</p>
                                            <p>Тема занятия "{{ e.title }}"</p>
                                            <p>{{ e.description }}</p>
                                            {% if e.get_staff|length != 0 %}
                                                {% for s in e.get_staff %}
                                                    <p>{{ s }}</p>
                                                {% endfor %}
                                            {% endif %}
                                            {% if not e|event_enrolled:person %}
                                                <a href="/events/enroll/{{ e.pk }}" Class="button is-primary"> Записаться</a>
                                            {% else %}
                                                <a href="/events/unenroll/{{ e.pk }}" Class="button is-danger"> Отписаться</a>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    </div>
                                <header class="timeline-header">
                                    <span class="tag is-medium is-primary">Конец</span>
                                </header>
                            </div>

                            </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}

            {% for t in themes|for_course:c %}
                {% if person|have_theme:t %}
                    <div id="modal_theme_{{ t.id }}" class="modal">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">Изменить выбранную тему</p>
                                <button class="delete" aria-label="close" onclick="$('#is-success').removeAttr('href');$('#modal_theme_{{ t.id }}').removeClass('is-active')"></button>
                            </header>
                            <section class="modal-card-body">
                                {% for t in themes|for_course:c %}
                                    <div class="field">
                                        {% if person|have_theme:t %}
                                            <input class="is-checkradio" id="theme_{{ t.id }}" type="radio" name="themes" checked><label for="theme_{{ t.id }}">{{ t }}</label>
                                        {% else %}
                                            <input class="is-checkradio" id="theme_{{ t.id }}" type="radio" name="themes" onclick="$('#is-success').attr('href', this.dataset.href)" data-href="/theme_choice/{{ c.id }}/{{ t.id }}">
                                            <label for="theme_{{ t.id }}">{{ t.theme }}</label>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </section>
                            <footer class="modal-card-foot">
                                <a id="is-success" class="button is-success">Save changes</a>
                                <button class="button" onclick="$('#is-success').removeAttr('href');$('#modal_theme_{{ t.id }}').removeClass('is-active')">Cancel</button>
                            </footer>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            {% for t in themes|for_course:c %}
                <div id="modal_theme_course_{{ c.id }}" class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title">Выбрать тему</p>
                            <button class="delete" aria-label="close" onclick="$('#is-success').removeAttr('href');$('#modal_theme_course_{{ c.id }}').removeClass('is-active')"></button>
                        </header>
                        <section class="modal-card-body">
                            {% for t in themes|for_course:c %}
                                <div class="field">
                                    <input class="is-checkradio" id="theme_{{ t.id }}" type="radio" name="themes" onclick="$('#is-success').attr('href', this.dataset.href)" data-href="/theme_choice/{{ c.id }}/{{ t.id }}">
                                    <label for="theme_{{ t.id }}">{{ t.theme }}</label>
                                </div>
                            {% endfor %}
                        </section>
                        <footer class="modal-card-foot">
                            <a id="is-success" class="button is-success">Save changes</a>
                            <button class="button" onclick="$('#is-success').removeAttr('href');$('#modal_theme_course_{{ c.id }}').removeClass('is-active')">Cancel</button>
                        </footer>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block js %}
    var carousels = bulmaExtensions.bulmaCarousel.attach();
{% endblock %}
