<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <a href="/events/{{event.id}}/">
                    <p>
                        <strong>{{event.title}}</strong>
                        <br>
                        {{event.description | safe}}
                    </p>
                    <div class="staff">
                        <p>Преподаватели:</p>
                        <ul>
                            {% for staff in event.get_staff %}
                            <li>{{ staff }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="students">
                        <p>Студенты:</p>
                        <ul>
                            {% for student in event.get_students %}
                            <li>{{ student }}</li>
                            {% endfor %}
                        </ul>
                    </div>

                </a>
            </div>
        </div>
    </article>
</div>